@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

/* ----- NAVIGATION BAR ----- */
header {
  width: 100%;
  height: 95px;
  background-color: #2c3e50;
  font-family: "Montserrat", sans-serif;
}

nav,
.navbarElements {
  display: flex;
  align-items: center;
  height: 100%;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}

.logo a {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
}

.navbarElements {
  gap: 2rem;
  font-weight: 700;
}

.navbarElements a {
  color: #fff;
  transition: all 0.15s ease-in-out;
}

.navbarElements li {
  cursor: pointer;
}

.navbarElements li:first-child {
  background-color: #1abc9c;
  padding: 1.1rem;
  border-radius: 0.3rem;
}

.navbarElements li:nth-child(2),
.navbarElements li:nth-child(3) {
  padding: 1.1rem;
  border-radius: 0.3rem;
}

.navbarElements li:nth-child(2):hover a,
.navbarElements li:nth-child(3):hover a {
  color: #1abc9c;
}

/* ----- MAIN PAGE ----- */
.mainPage {
  width: 100%;
  background-color: #1abc9c;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  height: 90vh;
}

.avatarImage {
  width: 15rem;
}

.avatarAndHeading {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainPageHeading {
  margin-top: 2.3rem;
  font-size: 64px;
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}

.dividerAndStar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  margin: 1.5rem 0 2rem;
}

.divider {
  width: 7rem;
  height: 0.3rem;
  background-color: #fff;
  border-radius: 0.5rem;
}

.starSvg svg {
  width: 2.3rem;
}

.mainPageText {
  font-size: 24px;
  font-family: "Lato", sans-serif;
}

/* ----- PORTFOLIO PAGE ----- */
.heading {
  font-size: 48px;
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.portfolioHeading,
.portfolio .starSvg svg,
.contactHeading,
.contact .starSvg svg {
  color: #2c3e50;
}

.portfolioDivider,
.contactDivider {
  background-color: #2c3e50;
}

.portfolioHeading {
  text-align: center;
}

.portfolio {
  padding: 6rem 0;
}

.sixCards {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  justify-content: center;
}

.sixCards img {
  width: 400px;
  height: 100%;
  border-radius: 0.6rem;
}

.sixCards > div {
  position: relative;
  cursor: pointer;
}

.caption {
  width: 100%;
  height: 100%;
  border-radius: 0.6rem;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.2s ease-in-out;
  opacity: 0;
  background-color: rgba(26, 188, 156, 0.9);
  display: flex;
  justify-content: center;
  align-items: center;
}

.plusSvg {
  width: 70px;
  color: #fff;
}

.sixCards > div:hover .caption {
  opacity: 1;
}

/* ----- ABOUT PAGE ----- */
.about {
  background-color: #1abc9c;
  padding: 6rem 0;
  width: 100%;
}

.aboutHeading,
.about .starSvg svg {
  color: #fff;
  text-align: center;
}

.twoTexts {
  width: 70%;
  display: flex;
  justify-content: center;
  gap: 1.2rem;
  margin: 0 auto;
  color: #fff;
  font-size: 20px;
  font-family: "Lato", sans-serif;
}

.twoTexts p {
  width: 40%;
  line-height: 1.5;
}

.downloadButton button {
  border: 2px solid #fff;
  background: transparent;
  border-radius: 8px;
  padding: 1.2rem 1.6rem;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  margin-top: 2rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.downloadButton button svg {
  width: 20px;
}

.downloadButton {
  display: flex;
  justify-content: center;
}

.downloadButton a {
  color: #fff;
  display: flex;
  align-items: center;
  gap: 0.8rem;
}

.downloadButton button:hover {
  background-color: #fff;
}

.downloadButton button:hover a {
  color: #000;
}

/* ----- CONTACT PAGE ----- */
.contact {
  padding: 6rem 0;
  width: 100%;
}

.contactHeading {
  text-align: center;
}

.contactContainerForm {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 50%;
  margin: 0 auto;
}

.contactContainerForm input,
.contactContainerForm textarea {
  padding: 1.5rem 0;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  font-size: 24px;
  font-family: "Lato", sans-serif;
}

.contactContainerForm input::placeholder,
.contactContainerForm textarea::placeholder {
  font-size: 24px;
  font-family: "Lato", sans-serif;
}

.contactContainerForm input:focus,
.contactContainerForm textarea:focus {
  outline: none;
}

.sendButtonContainer button {
  border: 0;
  padding: 1.2rem 1.75rem;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  background-color: #1abc9c;
  color: #fff;
  border-radius: 7px;
  opacity: 0.6;
}
